// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.monkey-jump-hint {
  pointer-events: none;
  padding: 0.25em;
  border-radius: 3px;
  border: 1px solid @button-border-color;
  background: fade(@button-background-color, 90%);
  color: @text-color;
  position: absolute;

  &.selected {
    background: fade(@button-background-color-selected, 90%);
    color: @text-color;
  }

  &.clickable {
    left: 0;
    top: 0;
    z-index: 2147483647;
    line-height: normal;
  }

  &.range {
    top: -1.8em;
    font-size: 0.8em;
    padding: 0.1em;
  }

  span.pressed {
    color: fade(@text-color, 50%);
  }
  span.unpressed {
  }
}
